* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

header, html {
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    color: black;
    width: auto;
    background-image: url(../images/horned_toad.png);
    height: 100vh;
    min-height: 800px;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
}

header div {
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 1.25;
    /* display: inline-block; */
    margin: 550px 0 0 5vh;
    padding: 10px 0px 0px 0px;
    border: 5px solid gold;
    height: 250px;
    width: 375px;
    min-height: 250px;
    min-width: 375px;
    position: relative;
}

header img {
    height: 100%;
    width: auto;
    position: absolute;
    margin: 0px 0px 0px -310px;
    padding-bottom: 10px;
    padding-left: 127px;
}

header h1 {
    padding: 20px 0 0 160px;
}

#hello {
    font-size: 4rem;
}

#name {
    font-size: 1.5rem;
}

nav {
    display: flex; 
    flex-direction: column;
    padding-top: 5px;
    text-align: center;
   
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none; 
    padding: 5px 10px 0px 0px;
    background-color: rgb(243, 230, 189);
    border: 2px solid rgb(131, 106, 54);
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    padding-right: ;
}

main {
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    height: 100vh;
    width: 100%;
    background-image: url("../images/dublin_bw.png");
    background-size: cover;
    background-position: center;
    position: relative;
    
}

/* section {
    display: flex;
} */

.center {
    /* display: flex; */
    justify-content: center;
} 

#about { 
    display: flex;
    /* width: 80%; */
    border: 8px solid green;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    margin: 150px 20vh;
}

#about h2 {
    display: flex;
    position: absolute;    
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: gold;
    width: 120px;
    margin: -2.7rem 1rem;
    background-color: green;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 0px;
}

#about p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(41, 31, 0);
    border: 5px solid gold;
    border-radius: 10px;
    background-color: rgba(250, 245, 220, 0.6);
    padding: 10px;
}

#projects { 
    display: flex;
    /* width: 80%; */
    border: 8px solid green;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    margin: 450px 20vh;
}

#projects h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: gold;
    width: 120px;
    margin: -2.7rem 1rem;
    background-color: green;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 0px;
}

#projects p {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(41, 31, 0);
    border: 5px solid gold;
    border-radius: 10px;
    padding: 10px;
    width: auto;
}

#projects img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

#contact { 
    display: flex;
    width: 80%;
    border: 8px solid green;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    margin: 750px 20vh;
}

#contact h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: gold;
    width: 150px;
    margin: -2.7rem 1rem;
    background-color: green;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 0px;
}

#contact div {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(41, 31, 0);
    background-color: rgba(250, 245, 220, 0.6);
    border: 5px solid gold;
    border-radius: 10px;
    padding: 10px;
    width: auto;
}

#contact img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

#resume { 
    display: flex;
    width: 80%;
    border: 8px solid green;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    margin: 1200px 20vh;
}

#resume h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    color: gold;
    width: 120px;
    margin: -2.7rem 1rem;
    background-color: green;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 0px;
}

#resume p {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(41, 31, 0);
    border: 5px solid gold;
    border-radius: 10px;
    padding: 10px;
    width: auto;
}